.info 
{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.intro
{ 
    margin: 10%;
    font-size: larger;  
    color: rgb(115, 58, 168);
    
}
table
{
    border-spacing: 40px 0px;
}
td
{
    text-align: center;
}

h1
{
    width: auto;
    display: inline-block;
    
    color: rgb(135, 32, 161);
   
    overflow: hidden;
    border-right: .05em solid  rgb(135, 32, 161);
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .05em;
    animation: typing 3.5s steps(30,end), 
              blink-caret .5s step-end ;
    margin-bottom: 10%;
}

@keyframes typing 
{
    from {width: 0}
    to {width: 43%;}
}

@keyframes blink-caret {

    from,to {border-color: transparent}
    43% {border-color: rgb(135, 32, 161)}
    
}

